<div class="container">
  <div class="header__link_wrapper">
    <a class="header__link" mat-button color="primary" [routerLink]="['']">Home</a>
  </div>

    <ul class="nav__list_wrapper">
      <li class="nav_list">
        <a class="nav_list_link link__text_color" routerLinkActive="active" mat-button color="primary"
           [routerLink]="['admin', 'login']">Sing in</a>
      </li>
      <li class="nav_list">
        <a class="nav_list_link link__text_color" routerLinkActive="active" mat-button color="primary"
           [routerLink]="['admin', 'register']">Sing up</a>
      </li>
    </ul>

</div>
