<div class="container">

  <div class="header__link_wrapper">
    <a class="header__link" mat-button color="primary" [routerLink]="['']">Home</a>
  </div>

  <div *ngIf="isAuthenticated$ | async as authenticated; else isNotAuthenticated">
    <a class="nav_list_link color-text-logout" mat-button color="primary" (click)="logout()"
       [routerLink]="['/']">Logout</a>
  </div>

  <ng-template #isNotAuthenticated>
    <ul class="nav__list_wrapper">
      <li class="nav_list">
        <a class="nav_list_link link__text_color" routerLinkActive="active" mat-button color="primary"
           [routerLink]="['sing-in']">Sing in</a>
      </li>
      <li class="nav_list">
        <a class="nav_list_link link__text_color" routerLinkActive="active" mat-button color="primary"
           [routerLink]="['sing-up']">Sing up</a>
      </li>
    </ul>
  </ng-template>

</div>
