.resource__card {
  margin-bottom: 10px;
  width: 600px;
  height: 100px;

  .resource__content {
    font-size: 20px;

    .resource__content_color {
      margin-top: 10px;
      font-size: 15px;
    }
  }
}

