<mat-card class="resource__card">
  <mat-card-content class="resource__content">
    <div [style.color]="color">
      {{resource?.name}}
    </div>
    <div [style.color]="color" class="resource__content_color">
      {{resource?.color}}
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="basic" (click)="resetColor()">Reset color</button>
    <button mat-button color="primary" (click)="changeColor()">Change color</button>
  </mat-card-actions>
</mat-card>



