.container {
  display: flex;
  flex-direction: column;

  .container__cards {
    display: flex;
    justify-content: space-around;

    .container__resource {
      display: flex;
      padding-top: 30px;
      flex-direction: column;
    }

    .container__user {
      display: flex;
      padding-top: 30px;
      flex-direction: column;
    }
  }

  .pagination {
    margin: 0 auto;
    display: flex;

    .arrow {
      cursor: pointer;
      border: none;
      width: 30px;
      height: 30px;
    }

    .arrow__left {
      transform: rotate(180deg);
      background: url("./../../../assets/arrow_rigth.svg") center / contain no-repeat;
    }

    .arrow__disabled_left {
      transform: rotate(0deg);
      background: url("./../../../assets/arrow_left.svg") center / contain no-repeat;
    }

    .arrow__right {
      background: url("./../../../assets/arrow_rigth.svg") center / contain no-repeat;
    }

    .arrow__disabled_right {
      transform: rotate(180deg);
      background: url("./../../../assets/arrow_left.svg") center / contain no-repeat;
    }
  }

}

