.container {
  display: flex;
  flex-direction: column;

  .container__cards {
    display: flex;
    justify-content: space-around;

    .container__resource {
      display: flex;
      padding-top: 30px;
      flex-direction: column;
    }

    .container__user {
      display: flex;
      padding-top: 30px;
      flex-direction: column;
    }
  }

  .pagination {
    justify-content: end;
    display: flex;
    align-items: center;

    .pagination__number_page {
      display: flex;
      justify-content: center;
      margin: 0 10px;
      font-size: 17px;
      color: #4949ef;
    }

    .pagination__button {
      height: 40px;
      width: 40px;
      border-radius: 8px;
      border: 1px solid #d2d2d2;
    }

    .arrow {
      cursor: pointer;
      align-items: center;
      border: none;
      height: 8px;
      width: 14px;
    }

    .arrow__left {
      transform: rotate(180deg);
    }
  }

}

