<ng-container *ngIf="usersData$ | async as usersData">
  <div class="container">
    <div class="container__cards">
      <div class="container__user">
        <app-preview-user *ngFor="let user of usersData.data" [user]="user"></app-preview-user>
        <div class="pagination">
          <button class="pagination__button"
                  [disabled]="usersData.page === 1"
                  (click)="previewPage()"
          >
            <img class="arrow__left arrow" src="../../../assets/arrow_right.svg" alt="arrow_left">
          </button>
          <div class="pagination__number_page">{{usersData.page}}</div>
          <button class="pagination__button"
                  [disabled]="usersData.page === usersData.total_pages"
                  (click)="nextPage()"
          >
            <img class="arrow__right arrow" src="../../../assets/arrow_right.svg" alt="arrow_right">
          </button>
        </div>
      </div>

      <div class="container__resource">
        <ng-container *ngIf="resourceData$ | async as resourceData">
          <app-preview-resource *ngFor="let resource of resourceData.data" [resource]="resource"></app-preview-resource>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
