<ng-container *ngIf="getUserDetails$ | async as userDetails">
  <mat-card class="example-card">
    <mat-card-header class="user__card">
      <div mat-card-avatar class="user__card_avatar">
        <img mat-card-image class="user__img" [src]="userDetails.data.avatar" alt="user__img">
      </div>
      <div class="user__info">
        <div class="user__name">
          <mat-card-title>{{userDetails.data.first_name}}</mat-card-title>
          <mat-card-subtitle>{{userDetails.data.last_name}}</mat-card-subtitle>
        </div>
        <div class="user__email">
          {{userDetails.data.email}}
        </div>
        <div class="user__job" *ngIf="userDetails.job">
          {{userDetails.job}}
        </div>
      </div>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-raised-button [routerLink]="['']">Go back</button>
      <button mat-raised-button color="primary" (click)="openDialog()">Update</button>
      <button mat-raised-button color="warn" (click)="deleteUser(userDetails.data.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container *ngIf="userDetails$ | async"></ng-container>
